In [ ]:
import pandas as pd

Загрузите в колаб файлы по оценкам (ratings) и фильмам (movies) и создайте на их основе pandas-**датафреймы**

In [ ]:
df_movies = pd.read_csv('ratings.csv')
df_movies.head()

   movie id        movie title release date  ...  War  Western  Year
0         1   Toy Story (1995)  01-Jan-1995  ...    0        0  1995
1         2   GoldenEye (1995)  01-Jan-1995  ...    0        0  1995
2         3  Four Rooms (1995)  01-Jan-1995  ...    0        0  1995
3         4  Get Shorty (1995)  01-Jan-1995  ...    0        0  1995
4         5     Copycat (1995)  01-Jan-1995  ...    0        0  1995

[5 rows x 23 columns]

In [ ]:
df_ratings = pd.read_csv('data (1).csv')
df_ratings.head()

   user id  item id  rating
0      196      242       3
1      186      302       3
2       22      377       1
3      244       51       2
4      166      346       1

Средствами Pandas, используя dataframe ratings, найдите id пользователя, поставившего больше всего оценок

In [ ]:
df_users = df_ratings['user id']
top = df_users.value_counts()
print(top)

405    737
655    685
13     636
450    540
276    518
      ...
147     20
19      20
572     20
636     20
895     20
Name: user id, Length: 943, dtype: int64

Оставьте в датафрейме ratings только те фильмы, который оценил данный пользователь

In [ ]:
df_users_movies = df_ratings.loc[df_ratings['user id'] == 405]
df_users_movies.head()

       user id  item id  rating
12276      405       56       4
12383      405      592       1
12430      405     1582       1
12449      405      171       1
12460      405      580       1

Дополнить полученный датафрейм информацией

In [ ]:
df_r1 = df_ratings.groupby('item id')[['rating']].agg('sum')
df_r2 = df_ratings.groupby('item id')[['rating']].agg('count')
df_r2.head()

         rating
item id
1           452
2           131
3            90
4           209
5            86

In [ ]:
df_merged = df_users_movies.merge(df_movies, left_on='item id', right_on='movie id', how='inner')
df_merged.head()

   user id  item id  rating  movie id  ... Thriller War  Western  Year
0      405       56       4        56  ...        0   0        0  1994
1      405      592       1       592  ...        1   0        0  1995
2      405     1582       1      1582  ...        0   0        0  1947
3      405      171       1       171  ...        0   0        0  1991
4      405      580       1       580  ...        0   0        0  1995

[5 rows x 26 columns]

In [ ]:
df_merged1 = df_merged.merge(df_r1, left_on='item id', right_on='item id', how='inner')
df_merged_total = df_merged1.merge(df_r2, left_on='item id', right_on='item id', how='inner')
df_merged_total.head(1000)

     user id  item id  rating_x  movie id  ... Western  Year  rating_y  rating
0        405       56         4        56  ...       0  1994      1600     394
1        405      592         1       592  ...       0  1995        30       9
2        405     1582         1      1582  ...       0  1947         1       1
3        405      171         1       171  ...       0  1991       252      65
4        405      580         1       580  ...       0  1995       108      32
..       ...      ...       ...       ...  ...     ...   ...       ...     ...
732      405      375         1       375  ...       0  1995        45      23
733      405      445         4       445  ...       0  1945        77      22
734      405     1246         1      1246  ...       0  1995        11       7
735      405      196         1       196  ...       0  1989       983     251
736      405      958         1       958  ...       0  1994        53      14

[737 rows x 28 columns]

Сформируйте X_train, X_test, y_train, y_test

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
df_merged_total.columns

Index(['user id', 'item id', 'rating_x', 'movie id', 'movie title',
       'release date', 'unknown', 'Action', 'Adventure', 'Animation',
       'Children's', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
       'Film-Noir', 'Humor', 'Musical', 'Mystery', 'Romance', 'Sci-Fi',
       'Thriller', 'War', 'Western', 'Year', 'rating_y', 'rating'],
      dtype='object')

In [ ]:
X, y = df_merged_total[['Action','Adventure', 'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',  'Humor', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western', 'Year']], df_merged_total['rating_x']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

Возьмите модель линейной регрессии (или любую другую для задачи регрессии)  и обучите ее на фильмах

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model = LinearRegression()

In [ ]:
model.fit(X_train, y_train)
model.coef_

array([ 0.25980774,  0.00499988,  0.01764789,  0.03550773,  0.56956131,
        0.25608037,  0.31866865,  0.48915167,  0.14478341,  0.29140173,
        1.39883541,  0.40828031,  0.25067157,  0.3385135 ,  0.57172984,
        0.43906329,  0.42811364, -0.01354501])

In [ ]:
model.predict(X_test)

array([1.65082552, 1.64313131, 1.64825862, 1.10155703, 2.45760513,
       1.50956605, 2.17889457, 1.32085716, 2.22745174, 2.45170404,
       1.59083613, 1.44726624, 2.04344444, 1.86773728, 1.48247602,
       1.63061073, 3.081931  , 2.20103247, 1.61666773, 1.70050432,
       1.48839719, 2.54013048, 1.50956605, 1.52311106, 2.14685242,
       1.93322203, 1.85419227, 2.10838591, 2.05267466, 1.074467  ,
       1.37971807, 1.29817598, 1.52311106, 1.29376713, 2.12157734,
       1.29876701, 1.61706571, 1.52311106, 1.96323851, 1.32085716,
       1.86773728, 1.50270807, 2.19243958, 2.09267237, 1.59083613,
       2.04517935, 1.50956605, 2.10621738, 1.97129275, 2.30079968,
       1.58271637, 2.53390419, 1.93555747, 1.9974734 , 3.4832929 ,
       1.86773728, 1.81757165, 1.92847358, 1.55861879, 1.36617306,
       1.49602104, 1.57729112, 1.57729112, 1.61706571, 1.49602104,
       2.04556081, 1.75918562, 2.32948176, 1.97831473, 2.49991641,
       1.39308619, 1.52055543, 2.36446628, 2.23314224, 1.70675349,
       2.35053447, 2.13806191, 1.79273644, 2.38120932, 1.88128229,
       2.15759135, 1.30731215, 2.26809015, 1.91063597, 1.96217436,
       2.02413703, 2.11468615, 1.08801201, 1.83209073, 2.12193093,
       2.06558234, 2.79838272, 1.63277926, 2.00328253, 2.21957736,
       1.53665608, 1.72688065, 1.81543408, 2.736622  , 1.6035207 ,
       1.57729112, 2.03859025, 2.1281801 , 2.35464864, 1.47561804,
       1.80087266, 2.07748433, 1.55020109, 1.52311106, 2.8181345 ,
       1.69919623, 1.86773728, 2.22735999, 1.60438114, 1.52311106,
       1.50956605, 1.5637461 , 1.66180363, 1.52311106, 2.92194647,
       1.52853632, 2.54528068, 2.05612901, 1.76606086, 2.32344444,
       1.64632427, 3.2032307 , 1.88354595, 1.6035207 , 1.5785992 ,
       1.29376713, 1.65986928, 1.63061073, 1.64582564, 1.08801201,
       1.67631218, 1.85419227, 1.6035207 , 2.76637798, 1.53665608,
       1.89482731, 1.64415574, 1.53665608, 1.36617306, 1.5637461 ,
       2.0948409 , 1.56917136, 1.074467  ])

Оцените качество модели на X_test, y_test при помощи метрик для задачи регрессии

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
mean_squared_error(y_test, model.predict(X_test))

1.984411208950041

In [ ]:
mean_squared_error(y_train, model.predict(X_train))

1.5799025757607048